<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Force IPv4 to fix connectivity inside Docker -->
    <add key="HttpHandler.DisableIPv6" value="true" />
  </config>
  <packageSources>
    <!-- Explicitly add the default NuGet source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>

















